# 1. 文本数据的读取与存储

In [2]:
import pandas as pd
import csv

In [3]:
fp=open("./data/ch4example.csv","w",newline="")
csv_writer=csv.writer(fp)
csv_writer.writerow(['id','name',"grade"])
csv_writer.writerow(['1','lucky',"87"])
csv_writer.writerow(['2','peter',"92"])
csv_writer.writerow(['3','lili',"85"])
fp.close()

In [13]:
df=pd.read_csv("./data/ch4example.csv")

In [19]:
df

   id   name  grade
0   1  lucky     87
1   2  peter     92
2   3   lili     85

## 文件路径中带有中文时要加open函数，否则中文路径会报错

In [17]:
df2=pd.read_csv(open("./data/ch4example-中文.csv"))

In [18]:
df2

   id   name  grade
0   1  lucky     87
1   2  peter     92
2   3   lili     85

In [20]:
df3=pd.read_table("./data/ch4example.csv",sep=",")

In [22]:
df3

   id   name  grade
0   1  lucky     87
1   2  peter     92
2   3   lili     85

In [23]:
df4=pd.read_csv("./data/ch4example.csv",index_col="id")

In [27]:
df4

     name  grade
id
1   lucky     87
2   peter     92
3    lili     85

In [28]:
df5=pd.read_csv("./data/ch4ex2.csv")

In [29]:
df5

  school  id   name  grade
0      a   1  lucky     87
1      a   2  peter     92
2      a   3   lili     85
3      b   1   coco     78
4      b   2  kevin     87
5      b   3  heven     96

In [30]:
df6=pd.read_csv("./data/ch4ex2.csv",index_col=[0,"id"])

In [31]:
df6

            name  grade
school id
a      1   lucky     87
       2   peter     92
       3    lili     85
b      1    coco     78
       2   kevin     87
       3   heven     96

In [32]:
df7=pd.read_csv("./data/ch4ex2.csv",index_col=["school","id"])

In [33]:
df7

            name  grade
school id
a      1   lucky     87
       2   peter     92
       3    lili     85
b      1    coco     78
       2   kevin     87
       3   heven     96

In [35]:
df8=pd.read_csv("./data/ch4ex3.csv")

In [36]:
df8

   1  lucky  87
0  2  peter  92
1  3   lili  85

In [37]:
df9=pd.read_csv("./data/ch4ex3.csv",header=None)

In [38]:
df9

   0      1   2
0  1  lucky  87
1  2  peter  92
2  3   lili  85

In [40]:
df9.columns=["id","name","grade"]

In [42]:
df9

   id   name  grade
0   1  lucky     87
1   2  peter     92
2   3   lili     85

In [44]:
df10=pd.read_csv("./data/ch4ex3.csv",names=["id","name","grade"])

In [46]:
df10

   id   name  grade
0   1  lucky     87
1   2  peter     92
2   3   lili     85

In [54]:
df11=pd.read_csv("./data/ch4ex4.csv")

In [55]:
df11

            #This is grade
id    name           grade
1     lucky             87
2     peter             92
3     lili              85
#time NaN              NaN

In [65]:
df12=pd.read_csv("./data/ch4ex4.csv",skiprows=[0,5],index_col=["id"])

In [66]:
df12

     name  grade
id
1   lucky     87
2   peter     92
3    lili     85

In [67]:
df13=pd.read_csv("./data/ch4ex4.csv",skiprows=[0,5])

In [68]:
df13

   id   name  grade
0   1  lucky     87
1   2  peter     92
2   3   lili     85

## 读取部分数据

In [69]:
df14=pd.read_csv("./data/titanic.csv")

In [75]:
df14.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [72]:
df14.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [74]:
df14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [77]:
df15=pd.read_csv("./data/titanic.csv",nrows=10)

In [78]:
df15

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [79]:
df16=pd.read_csv("./data/titanic.csv",nrows=10,usecols=["Survived","Sex","Age"])

In [80]:
df16

   Survived     Sex   Age
0         0    male  22.0
1         1  female  38.0
2         1  female  26.0
3         1  female  35.0
4         0    male  35.0
5         0    male   NaN
6         0    male  54.0
7         0    male   2.0
8         1  female  27.0
9         1  female  14.0

## 对于一个超大文件，通过chunksize参数逐步读取文件数据，返回值是迭代器TextFileReader

In [85]:
chunker=pd.read_csv("./data/titanic.csv",chunksize=100)

In [86]:
chunker

In [87]:
sex=pd.Series([])
for i in chunker:
    sex=sex.add(i["Sex"].value_counts(),fill_value=0)

In [88]:
sex

male      577.0
female    314.0
dtype: float64

## pd.read_csv()与pd.read_table()的参数说明
* path 文件路径
* sep 分隔符，即字段隔开的字符序列，也可以使用正则表达式
* header 指定列索引，默认为行索引0的行（第一行），也可以为None，也可以通过names参数手动指定
* index_col 用于行索引的列名或者列编号
* names 手动指定列索引的列名
* skiprows 需要忽略的行数（从文件开始处算起）
* nrows 需要读取的行数（从文件开始处算起）
* chunksize 文件分块读入时分块的大小（单位是行）
* useclos 指定需要读取的列

## TXT文件的读取

In [ ]:
fp=open("./data/ch4example6.txt","a+")
fp.writelines("id?name?grade\n")
fp.writelines("1?lucky?87\n")
fp.writelines("2?peter?92\n")
fp.writelines("3?lili?85\n")
fp.close()

In [100]:
! type .\data\ch4example6.txt

id?name?grade
1?lucky?87
2?peter?92
3?lili?85

In [97]:
df17=pd.read_csv("./data/ch4example6.txt",sep='?')

In [110]:
df17

   id   name  grade
0   1  lucky     87
1   2  peter     92
2   3   lili     85

## 采用这则表达式作为分隔符

In [111]:
! type .\data\ch4ex7.txt

id   name grade
1 lucky  87
2  peter    92
3  lili 85

In [ ]:
df18=pd.read_csv("./data/ch4ex7.txt",sep="\s+",engine='python')

In [112]:
df18

   id   name  grade
0   1  lucky     87
1   2  peter     92
2   3   lili     85

## 文本数据的存储

In [114]:
df18

   id   name  grade
0   1  lucky     87
1   2  peter     92
2   3   lili     85

In [115]:
df18.to_csv("./data/out1.csv")

In [117]:
! type .\data\out1.csv

,id,name,grade
0,1,lucky,87
1,2,peter,92
2,3,lili,85

In [118]:
df18.to_csv("./data/out2.csv",sep="?")

In [119]:
! type .\data\out2.csv

?id?name?grade
0?1?lucky?87
1?2?peter?92
2?3?lili?85

In [120]:
df18.to_csv("./data/out3.csv",sep="\t",index=False)

In [121]:
! type .\data\out3.csv

id	name	grade
1	lucky	87
2	peter	92
3	lili	85

# 2. Json和Excel数据的读取与存储

In [122]:
! type .\data\eueo2012.json

{"Team":{"0":"Croatia","1":"Czech Republic","2":"Denmark","3":"England","4":"France","5":"Germany","6":"Greece","7":"Italy","8":"Netherlands","9":"Poland","10":"Portugal","11":"Republic of Ireland","12":"Russia","13":"Spain","14":"Sweden","15":"Ukraine"},"Goals":{"0":4,"1":4,"2":4,"3":5,"4":3,"5":10,"6":5,"7":6,"8":2,"9":2,"10":6,"11":1,"12":5,"13":12,"14":5,"15":2},"Shots on target":{"0":13,"1":13,"2":10,"3":11,"4":22,"5":32,"6":8,"7":34,"8":12,"9":15,"10":22,"11":7,"12":9,"13":42,"14":17,"15":7},"Shots off target":{"0":12,"1":18,"2":10,"3":18,"4":24,"5":32,"6":18,"7":45,"8":36,"9":23,"10":42,"11":12,"12":31,"13":33,"14":19,"15":26},"Shooting Accuracy":{"0":"51.9%","1":"41.9%","2":"50.0%","3":"50.0%","4":"37.9%","5":"47.8%","6":"30.7%","7":"43.0%","8":"25.0%","9":"39.4%","10":"34.3%","11":"36.8%","12":"22.5%","13":"55.9%","14":"47.2%","15":"21.2%"},"% Goals-to-shots":{"0":"16.0%","1":"12.9%","2":"20.0%","3":"17.2%","4":"6.5%","5":"15.6%","6":"19.2%","7":"7.5%","8":"4.1%","9":"5.2%","10":"9.3%","11":"5.2%","12":"12.5%","13":"16.0%","14":"13.8%","15":"6.0%"},"Total shots (inc. Blocked)":{"0":32,"1":39,"2":27,"3":40,"4":65,"5":80,"6":32,"7":110,"8":60,"9":48,"10":82,"11":28,"12":59,"13":100,"14":39,"15":38},"Hit Woodwork":{"0":0,"1":0,"2":1,"3":0,"4":1,"5":2,"6":1,"7":2,"8":2,"9":0,"10":6,"11":0,"12":2,"13":0,"14":3,"15":0},"Penalty goals":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":1,"6":1,"7":0,"8":0,"9":0,"10":0,"11":0,"12":0,"13":1,"14":0,"15":0},"Penalties not scored":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0,"6":1,"7":0,"8":0,"9":0,"10":0,"11":0,"12":0,"13":0,"14":0,"15":0},"Headed goals":{"0":2,"1":0,"2":3,"3":3,"4":0,"5":2,"6":0,"7":2,"8":0,"9":1,"10":2,"11":1,"12":1,"13":2,"14":1,"15":2},"Passes":{"0":1076,"1":1565,"2":1298,"3":1488,"4":2066,"5":2774,"6":1187,"7":3016,"8":1556,"9":1059,"10":1891,"11":851,"12":1602,"13":4317,"14":1192,"15":1276},"Passes completed":{"0":828,"1":1223,"2":1082,"3":1200,"4":1803,"5":2427,"6":911,"7":2531,"8":1381,"9":852,"10":1461,"11":606,"12":1345,"13":3820,"14":965,"15":1043},"Passing Accuracy":{"0":"76.9%","1":"78.1%","2":"83.3%","3":"80.6%","4":"87.2%","5":"87.4%","6":"76.7%","7":"83.9%","8":"88.7%","9":"80.4%","10":"77.2%","11":"71.2%","12":"83.9%","13":"88.4%","14":"80.9%","15":"81.7%"},"Touches":{"0":1706,"1":2358,"2":1873,"3":2440,"4":2909,"5":3761,"6":2016,"7":4363,"8":2163,"9":1724,"10":2958,"11":1433,"12":2278,"13":5585,"14":1806,"15":1894},"Crosses":{"0":60,"1":46,"2":43,"3":58,"4":55,"5":101,"6":52,"7":75,"8":50,"9":55,"10":91,"11":43,"12":40,"13":69,"14":44,"15":33},"Dribbles":{"0":42,"1":68,"2":32,"3":60,"4":76,"5":60,"6":53,"7":75,"8":49,"9":39,"10":64,"11":18,"12":40,"13":106,"14":29,"15":26},"Corners Taken":{"0":14,"1":21,"2":16,"3":16,"4":28,"5":35,"6":10,"7":30,"8":22,"9":14,"10":41,"11":8,"12":21,"13":44,"14":7,"15":18},"Tackles":{"0":49,"1":62,"2":40,"3":86,"4":71,"5":91,"6":65,"7":98,"8":34,"9":67,"10":78,"11":45,"12":65,"13":122,"14":56,"15":65},"Clearances":{"0":83,"1":98,"2":61,"3":106,"4":76,"5":73,"6":123,"7":137,"8":41,"9":87,"10":92,"11":78,"12":74,"13":102,"14":54,"15":97},"Interceptions":{"0":56,"1":37,"2":59,"3":72,"4":58,"5":69,"6":87,"7":136,"8":41,"9":62,"10":86,"11":43,"12":58,"13":79,"14":45,"15":29},"Clearances off line":{"0":null,"1":2.0,"2":0.0,"3":1.0,"4":0.0,"5":0.0,"6":0.0,"7":1.0,"8":0.0,"9":0.0,"10":0.0,"11":1.0,"12":0.0,"13":0.0,"14":0.0,"15":0.0},"Clean Sheets":{"0":0,"1":1,"2":1,"3":2,"4":1,"5":1,"6":1,"7":2,"8":0,"9":0,"10":2,"11":0,"12":0,"13":5,"14":1,"15":0},"Blocks":{"0":10,"1":10,"2":10,"3":29,"4":7,"5":11,"6":23,"7":18,"8":9,"9":8,"10":11,"11":23,"12":8,"13":8,"14":12,"15":4},"Goals conceded":{"0":3,"1":6,"2":5,"3":3,"4":5,"5":6,"6":7,"7":7,"8":5,"9":3,"10":4,"11":9,"12":3,"13":1,"14":5,"15":4},"Saves made":{"0":13,"1":9,"2":10,"3":22,"4":6,"5":10,"6":13,"7":20,"8":12,"9":6,"10":10,"11":17,"12":10,"13":15,"14":8,"15":13},"Saves-to-shots ratio":{"0":"81.3%","1":"60.1%","2":"66.7%","3":"88.1%","4":"54.6%","5":"62.6%","6":"65.1%","7":"74.1%","8":"70.6%","9":"66.7%","10":"71.5%","11":"65.4%","12":"77.0%","13":"93.8%","14":"61.6%","15":"76.5%"},"Fouls Won":{"0":41,"1":53,"2":25,"3":43,"4":36,"5":63,"6":67,"7":101,"8":35,"9":48,"10":73,"11":43,"12":34,"13":102,"14":35,"15":48},"Fouls Conceded":{"0":62,"1":73,"2":38,"3":45,"4":51,"5":49,"6":48,"7":89,"8":30,"9":56,"10":90,"11":51,"12":43,"13":83,"14":51,"15":31},"Offsides":{"0":2,"1":8,"2":8,"3":6,"4":5,"5":12,"6":12,"7":16,"8":3,"9":3,"10":10,"11":11,"12":4,"13":19,"14":7,"15":4},"Yellow Cards":{"0":9,"1":7,"2":4,"3":5,"4":6,"5":4,"6":9,"7":16,"8":5,"9":7,"10":12,"11":6,"12":6,"13":11,"14":7,"15":5},"Red Cards":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0,"6":1,"7":0,"8":0,"9":1,"10":0,"11":1,"12":0,"13":0,"14":0,"15":0},"Subs on":{"0":9,"1":11,"2":7,"3":11,"4":11,"5":15,"6":12,"7":18,"8":7,"9":7,"10":14,"11":10,"12":7,"13":17,"14":9,"15":9},"Subs off":{"0":9,"1":11,"2":7,"3":11,"4":11,"5":15,"6":12,"7":18,"8":7,"9":7,"10":14,"11":10,"12":7,"13":17,"14":9,"15":9},"Players Used":{"0":16,"1":19,"2":15,"3":16,"4":19,"5":17,"6":20,"7":19,"8":15,"9":17,"10":16,"11":17,"12":16,"13":18,"14":18,"15":18}}

In [123]:
import pandas as pd
import json

In [124]:
fp=open("./data/eueo2012.json","r")
obj=fp.read()
result=json.loads(obj)

In [126]:
obj

'{"Team":{"0":"Croatia","1":"Czech Republic","2":"Denmark","3":"England","4":"France","5":"Germany","6":"Greece","7":"Italy","8":"Netherlands","9":"Poland","10":"Portugal","11":"Republic of Ireland","12":"Russia","13":"Spain","14":"Sweden","15":"Ukraine"},"Goals":{"0":4,"1":4,"2":4,"3":5,"4":3,"5":10,"6":5,"7":6,"8":2,"9":2,"10":6,"11":1,"12":5,"13":12,"14":5,"15":2},"Shots on target":{"0":13,"1":13,"2":10,"3":11,"4":22,"5":32,"6":8,"7":34,"8":12,"9":15,"10":22,"11":7,"12":9,"13":42,"14":17,"15":7},"Shots off target":{"0":12,"1":18,"2":10,"3":18,"4":24,"5":32,"6":18,"7":45,"8":36,"9":23,"10":42,"11":12,"12":31,"13":33,"14":19,"15":26},"Shooting Accuracy":{"0":"51.9%","1":"41.9%","2":"50.0%","3":"50.0%","4":"37.9%","5":"47.8%","6":"30.7%","7":"43.0%","8":"25.0%","9":"39.4%","10":"34.3%","11":"36.8%","12":"22.5%","13":"55.9%","14":"47.2%","15":"21.2%"},"% Goals-to-shots":{"0":"16.0%","1":"12.9%","2":"20.0%","3":"17.2%","4":"6.5%","5":"15.6%","6":"19.2%","7":"7.5%","8":"4.1%","9":"5.2%","10":"9.3%","11":"5.2%","12":"12.5%","13":"16.0%","14":"13.8%","15":"6.0%"},"Total shots (inc. Blocked)":{"0":32,"1":39,"2":27,"3":40,"4":65,"5":80,"6":32,"7":110,"8":60,"9":48,"10":82,"11":28,"12":59,"13":100,"14":39,"15":38},"Hit Woodwork":{"0":0,"1":0,"2":1,"3":0,"4":1,"5":2,"6":1,"7":2,"8":2,"9":0,"10":6,"11":0,"12":2,"13":0,"14":3,"15":0},"Penalty goals":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":1,"6":1,"7":0,"8":0,"9":0,"10":0,"11":0,"12":0,"13":1,"14":0,"15":0},"Penalties not scored":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0,"6":1,"7":0,"8":0,"9":0,"10":0,"11":0,"12":0,"13":0,"14":0,"15":0},"Headed goals":{"0":2,"1":0,"2":3,"3":3,"4":0,"5":2,"6":0,"7":2,"8":0,"9":1,"10":2,"11":1,"12":1,"13":2,"14":1,"15":2},"Passes":{"0":1076,"1":1565,"2":1298,"3":1488,"4":2066,"5":2774,"6":1187,"7":3016,"8":1556,"9":1059,"10":1891,"11":851,"12":1602,"13":4317,"14":1192,"15":1276},"Passes completed":{"0":828,"1":1223,"2":1082,"3":1200,"4":1803,"5":2427,"6":911,"7":2531,"8":1381,"9":852,"10":1461,"11":606,"12":1345,"13":3820,"14":965,"15":1043},"Passing Accuracy":{"0":"76.9%","1":"78.1%","2":"83.3%","3":"80.6%","4":"87.2%","5":"87.4%","6":"76.7%","7":"83.9%","8":"88.7%","9":"80.4%","10":"77.2%","11":"71.2%","12":"83.9%","13":"88.4%","14":"80.9%","15":"81.7%"},"Touches":{"0":1706,"1":2358,"2":1873,"3":2440,"4":2909,"5":3761,"6":2016,"7":4363,"8":2163,"9":1724,"10":2958,"11":1433,"12":2278,"13":5585,"14":1806,"15":1894},"Crosses":{"0":60,"1":46,"2":43,"3":58,"4":55,"5":101,"6":52,"7":75,"8":50,"9":55,"10":91,"11":43,"12":40,"13":69,"14":44,"15":33},"Dribbles":{"0":42,"1":68,"2":32,"3":60,"4":76,"5":60,"6":53,"7":75,"8":49,"9":39,"10":64,"11":18,"12":40,"13":106,"14":29,"15":26},"Corners Taken":{"0":14,"1":21,"2":16,"3":16,"4":28,"5":35,"6":10,"7":30,"8":22,"9":14,"10":41,"11":8,"12":21,"13":44,"14":7,"15":18},"Tackles":{"0":49,"1":62,"2":40,"3":86,"4":71,"5":91,"6":65,"7":98,"8":34,"9":67,"10":78,"11":45,"12":65,"13":122,"14":56,"15":65},"Clearances":{"0":83,"1":98,"2":61,"3":106,"4":76,"5":73,"6":123,"7":137,"8":41,"9":87,"10":92,"11":78,"12":74,"13":102,"14":54,"15":97},"Interceptions":{"0":56,"1":37,"2":59,"3":72,"4":58,"5":69,"6":87,"7":136,"8":41,"9":62,"10":86,"11":43,"12":58,"13":79,"14":45,"15":29},"Clearances off line":{"0":null,"1":2.0,"2":0.0,"3":1.0,"4":0.0,"5":0.0,"6":0.0,"7":1.0,"8":0.0,"9":0.0,"10":0.0,"11":1.0,"12":0.0,"13":0.0,"14":0.0,"15":0.0},"Clean Sheets":{"0":0,"1":1,"2":1,"3":2,"4":1,"5":1,"6":1,"7":2,"8":0,"9":0,"10":2,"11":0,"12":0,"13":5,"14":1,"15":0},"Blocks":{"0":10,"1":10,"2":10,"3":29,"4":7,"5":11,"6":23,"7":18,"8":9,"9":8,"10":11,"11":23,"12":8,"13":8,"14":12,"15":4},"Goals conceded":{"0":3,"1":6,"2":5,"3":3,"4":5,"5":6,"6":7,"7":7,"8":5,"9":3,"10":4,"11":9,"12":3,"13":1,"14":5,"15":4},"Saves made":{"0":13,"1":9,"2":10,"3":22,"4":6,"5":10,"6":13,"7":20,"8":12,"9":6,"10":10,"11":17,"12":10,"13":15,"14":8,"15":13},"Saves-to-shots ratio":{"0":"81.3%","1":"60.1%","2":"66.7%","3":"88.1%","4":"54.6%","5":"62.6%","6":"65.1%","7":"74.1%","8":"70.6%","9":"66.7%","10":"71.5%","11":"65.4%","12":"77.0%","13":"93.8%","14":"61.6%","15":"76.5%"},"Fouls Won":{"0":41,"1":53,"2":25,"3":43,"4":36,"5":63,"6":67,"7":101,"8":35,"9":48,"10":73,"11":43,"12":34,"13":102,"14":35,"15":48},"Fouls Conceded":{"0":62,"1":73,"2":38,"3":45,"4":51,"5":49,"6":48,"7":89,"8":30,"9":56,"10":90,"11":51,"12":43,"13":83,"14":51,"15":31},"Offsides":{"0":2,"1":8,"2":8,"3":6,"4":5,"5":12,"6":12,"7":16,"8":3,"9":3,"10":10,"11":11,"12":4,"13":19,"14":7,"15":4},"Yellow Cards":{"0":9,"1":7,"2":4,"3":5,"4":6,"5":4,"6":9,"7":16,"8":5,"9":7,"10":12,"11":6,"12":6,"13":11,"14":7,"15":5},"Red Cards":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0,"6":1,"7":0,"8":0,"9":1,"10":0,"11":1,"12":0,"13":0,"14":0,"15":0},"Subs on":{"0":9,"1":11,"2":7,"3":11,"4":11,"5":15,"6":12,"7":18,"8":7,"9":7,"10":14,"11":10,"12":7,"13":17,"14":9,"15":9},"Subs off":{"0":9,"1":11,"2":7,"3":11,"4":11,"5":15,"6":12,"7":18,"8":7,"9":7,"10":14,"11":10,"12":7,"13":17,"14":9,"15":9},"Players Used":{"0":16,"1":19,"2":15,"3":16,"4":19,"5":17,"6":20,"7":19,"8":15,"9":17,"10":16,"11":17,"12":16,"13":18,"14":18,"15":18}}'

In [127]:
df19=pd.DataFrame(result)

In [128]:
df19

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17

In [129]:
df19.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 0 to 9
Data columns (total 35 columns):
Team                          16 non-null object
Goals                         16 non-null int64
Shots on target               16 non-null int64
Shots off target              16 non-null int64
Shooting Accuracy             16 non-null object
% Goals-to-shots              16 non-null object
Total shots (inc. Blocked)    16 non-null int64
Hit Woodwork                  16 non-null int64
Penalty goals                 16 non-null int64
Penalties not scored          16 non-null int64
Headed goals                  16 non-null int64
Passes                        16 non-null int64
Passes completed              16 non-null int64
Passing Accuracy              16 non-null object
Touches                       16 non-null int64
Crosses                       16 non-null int64
Dribbles                      16 non-null int64
Corners Taken                 16 non-null int64
Tackles                       16 non-null int64
Clearances                    16 non-null int64
Interceptions                 16 non-null int64
Clearances off line           15 non-null float64
Clean Sheets                  16 non-null int64
Blocks                        16 non-null int64
Goals conceded                16 non-null int64
Saves made                    16 non-null int64
Saves-to-shots ratio          16 non-null object
Fouls Won                     16 non-null int64
Fouls Conceded                16 non-null int64
Offsides                      16 non-null int64
Yellow Cards                  16 non-null int64
Red Cards                     16 non-null int64
Subs on                       16 non-null int64
Subs off                      16 non-null int64
Players Used                  16 non-null int64
dtypes: float64(1), int64(29), object(5)
memory usage: 4.5+ KB

In [130]:
df20=pd.read_json("./data/eueo2012.json")

In [132]:
df20

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17

In [133]:
df20.describe()

,Goals,Shots on target,Shots off target,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,Passes completed,...,Goals conceded,Saves made,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
count,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.0000,16.000000,16.000000,16.000000,...,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.00000,16.00000,16.000000
mean,4.750000,17.125000,24.937500,54.937500,1.250000,0.187500,0.0625,1.375000,1763.375000,1467.375000,...,4.750000,12.125000,52.937500,55.625000,8.125000,7.437500,0.187500,10.87500,10.87500,17.250000
std,2.886751,10.582218,10.680005,26.065223,1.612452,0.403113,0.2500,1.024695,906.177898,827.580721,...,1.983263,4.573474,22.915697,18.973227,4.910872,3.265348,0.403113,3.53789,3.53789,1.527525
min,1.000000,7.000000,10.000000,27.000000,0.000000,0.000000,0.0000,0.000000,851.000000,606.000000,...,1.000000,6.000000,25.000000,30.000000,2.000000,4.000000,0.000000,7.00000,7.00000,15.000000
25%,2.750000,9.750000,18.000000,36.500000,0.000000,0.000000,0.0000,0.750000,1190.750000,951.500000,...,3.000000,9.750000,35.750000,44.500000,4.000000,5.000000,0.000000,8.50000,8.50000,16.000000
50%,4.500000,13.000000,23.500000,44.000000,1.000000,0.000000,0.0000,1.500000,1522.000000,1211.500000,...,5.000000,11.000000,45.500000,51.000000,7.500000,6.500000,0.000000,10.50000,10.50000,17.000000
75%,5.250000,22.000000,32.250000,68.750000,2.000000,0.000000,0.0000,2.000000,1934.750000,1546.500000,...,6.000000,13.500000,64.000000,64.750000,11.250000,9.000000,0.000000,12.50000,12.50000,18.250000
max,12.000000,42.000000,45.000000,110.000000,6.000000,1.000000,1.0000,3.000000,4317.000000,3820.000000,...,9.000000,22.000000,102.000000,90.000000,19.000000,16.000000,1.000000,18.00000,18.00000,20.000000

In [134]:
df20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 0 to 9
Data columns (total 35 columns):
Team                          16 non-null object
Goals                         16 non-null int64
Shots on target               16 non-null int64
Shots off target              16 non-null int64
Shooting Accuracy             16 non-null object
% Goals-to-shots              16 non-null object
Total shots (inc. Blocked)    16 non-null int64
Hit Woodwork                  16 non-null int64
Penalty goals                 16 non-null int64
Penalties not scored          16 non-null int64
Headed goals                  16 non-null int64
Passes                        16 non-null int64
Passes completed              16 non-null int64
Passing Accuracy              16 non-null object
Touches                       16 non-null int64
Crosses                       16 non-null int64
Dribbles                      16 non-null int64
Corners Taken                 16 non-null int64
Tackles                       16 non-null int64
Clearances                    16 non-null int64
Interceptions                 16 non-null int64
Clearances off line           15 non-null float64
Clean Sheets                  16 non-null int64
Blocks                        16 non-null int64
Goals conceded                16 non-null int64
Saves made                    16 non-null int64
Saves-to-shots ratio          16 non-null object
Fouls Won                     16 non-null int64
Fouls Conceded                16 non-null int64
Offsides                      16 non-null int64
Yellow Cards                  16 non-null int64
Red Cards                     16 non-null int64
Subs on                       16 non-null int64
Subs off                      16 non-null int64
Players Used                  16 non-null int64
dtypes: float64(1), int64(29), object(5)
memory usage: 4.5+ KB

In [135]:
df20.sort_index()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [136]:
df20

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17

In [137]:
df20.sort_index(inplace=True)

In [138]:
df20

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [139]:
df20.to_json("./data/ut4.json")

In [140]:
df20.to_excel("./data/out5.xlsx",sheet_name="out",index=None)

In [142]:
df21=pd.read_excel("./data/ch4ex8.xlsx",sheet_name="Sheet1")

In [143]:
df21

   id   name  grade
0   1  lucky     87
1   2  peter     92
2   3   lili     85

# 3. 数据库的读取与存储：pymysql包的安装与使用

# 4. web数据的读取（爬虫，spider）

In [48]:
import pandas as pd

## 直接读取网络html表格

In [27]:
df=pd.read_html("http://worldcup.2014.163.com/schedule/")

In [28]:
df

[    Unnamed: 0 Unnamed: 1                时间     编号               对阵  \
 0          NaN         1场  06月13日 星期五 04:00  A1-A4    巴西  3-1  克罗地亚
 1          NaN         2场  06月14日 星期六 00:00  A3-A2    墨西哥  1-0  喀麦隆
 2          NaN         3场  06月14日 星期六 03:00  B1-B4     西班牙  1-5  荷兰
 3          NaN         4场  06月14日 星期六 06:00  B2-B3    智利  3-1  澳大利亚
 4          NaN         5场  06月15日 星期日 00:00  C1-C4    哥伦比亚  3-0  希腊
 5          NaN         7场  06月15日 星期日 03:00  D1-D3  乌拉圭  1-3  哥斯达黎加
 6          NaN         8场  06月15日 星期日 06:00  D2-D4    英格兰  1-2  意大利
 7          NaN         6场  06月15日 星期日 09:00  C2-C3    科特迪瓦  2-1  日本
 8          NaN         9场  06月16日 星期一 00:00  E1-E2    瑞士  2-1  厄瓜多尔
 9          NaN        10场  06月16日 星期一 03:00  E4-E3    法国  3-0  洪都拉斯
 10         NaN        11场  06月16日 星期一 06:00  F1-F4     阿根廷  2-1  波黑
 11         NaN        13场  06月17日 星期二 00:00  G1-G4     德国  4-0  葡萄牙
 12         NaN        12场  06月17日 星期二 03:00  F3-F2    伊朗  0-0  尼日利亚
 13         NaN        14场  06月17日 星期二 06:00  G2-G3      加纳  1-2  美国
 14         NaN        15场  06月18日 星期三 00:00  H1-H2  比利时  2-1  阿尔及利亚
 15         NaN        17场  06月18日 星期三 03:00  A1-A3     巴西  0-0  墨西哥
 16         NaN        16场  06月18日 星期三 06:00  H4-H3     俄罗斯  1-1  韩国
 17         NaN        20场  06月19日 星期四 00:00  B3-B4    澳大利亚  2-3  荷兰
 18         NaN        19场  06月19日 星期四 03:00  B1-B2     西班牙  0-2  智利
 19         NaN        18场  06月19日 星期四 06:00  A2-A1   喀麦隆  0-4  克罗地亚
 20         NaN        21场  06月20日 星期五 00:00  C1-C2  哥伦比亚  2-1  科特迪瓦
 21         NaN        23场  06月20日 星期五 03:00  D1-D2    乌拉圭  2-1  英格兰
 22         NaN        22场  06月20日 星期五 06:00  C3-C4      日本  0-0  希腊
 23         NaN        24场  06月21日 星期六 00:00  D4-D3  意大利  0-1  哥斯达黎加
 24         NaN        25场  06月21日 星期六 03:00  E1-E4      瑞士  2-5  法国
 25         NaN        26场  06月21日 星期六 06:00  E3-E2  洪都拉斯  1-2  厄瓜多尔
 26         NaN        27场  06月22日 星期日 00:00  F1-F3     阿根廷  1-0  伊朗
 27         NaN        29场  06月22日 星期日 03:00  G1-G2      德国  2-2  加纳
 28         NaN        28场  06月22日 星期日 06:00  F2-F4    尼日利亚  1-0  波黑
 29         NaN        31场  06月23日 星期一 00:00  H1-H4    比利时  1-0  俄罗斯
 30         NaN        32场  06月23日 星期一 03:00  H3-H2   韩国  2-4  阿尔及利亚
 31         NaN        30场  06月23日 星期一 06:00  G3-G4     美国  2-2  葡萄牙
 32         NaN        35场  06月24日 星期二 00:00  B3-B1   澳大利亚  0-3  西班牙
 33         NaN        36场  06月24日 星期二 00:00  B4-B2      荷兰  2-0  智利
 34         NaN        33场  06月24日 星期二 04:00  A2-A1     喀麦隆  1-4  巴西
 35         NaN        34场  06月24日 星期二 04:00  A4-A3   克罗地亚  1-3  墨西哥
 36         NaN        39场  06月25日 星期三 00:00  D4-D1    意大利  0-1  乌拉圭
 37         NaN        40场  06月25日 星期三 00:00  D3-D2  哥斯达黎加  0-0  英格兰
 38         NaN        37场  06月25日 星期三 04:00  C3-C1    日本  1-4  哥伦比亚
 39         NaN        38场  06月25日 星期三 04:00  C4-C2    希腊  2-1  科特迪瓦
 40         NaN        43场  06月26日 星期四 00:00  F2-F1   尼日利亚  2-3  阿根廷
 41         NaN        44场  06月26日 星期四 00:00  F4-F3      波黑  3-1  伊朗
 42         NaN        41场  06月26日 星期四 04:00  E3-E1    洪都拉斯  0-3  瑞士
 43         NaN        42场  06月26日 星期四 04:00  E2-E4    厄瓜多尔  0-0  法国
 44         NaN        45场  06月27日 星期五 00:00  G3-G1      美国  0-1  德国
 45         NaN        46场  06月27日 星期五 00:00  G4-G2     葡萄牙  2-1  加纳
 46         NaN        47场  06月27日 星期五 04:00  H3-H1     韩国  0-1  比利时
 47         NaN        48场  06月27日 星期五 04:00  H2-H4  阿尔及利亚  1-1  俄罗斯

            补眠时刻      城市    电视直播  其他
 0   22:00-04:00     圣保罗   CCTV5  战报
 1   22:00-00:00     纳塔尔   CCTV5  战报
 2   22:00-03:00    萨尔瓦多   CCTV5  战报
 3   22:00-06:00     库亚巴   CCTV5  战报
 4   22:00-00:00  贝罗奥里藏特   CCTV5  战报
 5   22:00-03:00    福塔莱萨   CCTV5  战报
 6   22:00-06:00     玛瑙斯   CCTV5  战报
 7   22:00-09:00     累西腓   CCTV5  战报
 8   22:00-00:00    巴西利亚   CCTV5  战报
 9   22:00-03:00   阿雷格里港   CCTV5  战报
 10  22:00-06:00   里约热内卢   CCTV5  战报
 11  22:00-00:00    萨尔瓦多   CCTV5  战报
 12  22:00-03:00     库亚巴   CCTV5  战报
 13  22:00-06:00     纳塔尔   CCTV5  战报
 14  22:00-00:00  贝罗奥里藏特   CCTV5  战报
 15  22:00-03:00    福塔莱萨   CCTV5  战报
 16  22:00-06:00     库亚巴   CCTV5  战报
 17  22:00-00:00   阿雷格里港   CCTV5  战报
 18  22:00-03:00   里约热内卢   CCTV5  战报
 19  22:00-06:00     玛瑙斯   CCTV5  战报
 20  22:00-00:00    巴西利亚   CCTV5  战报
 21  22:00-03:00     圣保罗   CCTV5  战报
 22  22:00-06:00     纳塔尔   CCTV5  战报
 23  22:00-00:00     累西腓   CCTV5  战报
 24  22:00-03:00    萨尔瓦多   CCTV5  战报
 25  22:00-06:00     库亚巴   CCTV5  战报
 26  22:00-00:00  贝罗奥里藏特   CCTV5  战报
 27  22:00-03:00    福塔莱萨   CCTV5  战报
 28  22:00-06:00     库亚巴   CCTV5  战报
 29  22:00-00:00   里约热内卢   CCTV5  战报
 30  22:00-03:00   阿雷格里港   CCTV5  战报
 31  22:00-06:00     玛瑙斯   CCTV5  战报
 32  22:00-00:00     库亚巴  CCTV5+  战报
 33  22:00-00:00     圣保罗   CCTV5  战报
 34  22:00-04:00    巴西利亚   CCTV5  战报
 35  22:00-04:00     累西腓  CCTV5+  战报
 36  22:00-00:00     纳塔尔   CCTV5  战报
 37  22:00-00:00  贝罗奥里藏特  CCTV5+  战报
 38  22:00-04:00     库亚巴   CCTV5  战报
 39  22:00-04:00    福塔莱萨  CCTV5+  战报
 40  22:00-00:00   阿雷格里港   CCTV5  战报
 41  22:00-00:00    萨尔瓦多  CCTV5+  战报
 42  22:00-04:00     玛瑙斯  CCTV5+  战报
 43  22:00-04:00   里约热内卢   CCTV5  战报
 44  22:00-00:00     累西腓   CCTV5  战报
 45  22:00-00:00    巴西利亚  CCTV5+  战报
 46  22:00-04:00     圣保罗   CCTV5  战报
 47  22:00-04:00     库亚巴  CCTV5+  战报  ,
    Unnamed: 0 Unnamed: 1                时间  编号              对阵         补眠时刻  \
 0         NaN        49场  06月29日 星期日 00:00 NaN     巴西  4-3  智利  22:00-00:00
 1         NaN        50场  06月29日 星期日 04:00 NaN  哥伦比亚  2-0  乌拉圭  22:00-04:00
 2         NaN        51场  06月30日 星期一 00:00 NaN    荷兰  2-1  墨西哥  22:00-00:00
 3         NaN        52场  06月30日 星期一 04:00 NaN  哥斯达黎加  6-4  希腊  22:00-04:00
 4         NaN        53场  07月01日 星期二 00:00 NaN   法国  2-0  尼日利亚  22:00-00:00
 5         NaN        54场  07月01日 星期二 04:00 NaN  德国  2-1  阿尔及利亚  22:00-04:00
 6         NaN        55场  07月02日 星期三 00:00 NaN    阿根廷  1-0  瑞士  22:00-00:00
 7         NaN        56场  07月02日 星期三 04:00 NaN    比利时  2-1  美国  22:00-04:00

        城市   电视直播  其他
 0  贝罗奥里藏特  CCTV5  战报
 1   里约热内卢  CCTV5  战报
 2    福塔莱萨  CCTV5  战报
 3     累西腓  CCTV5  战报
 4    巴西利亚  CCTV5  战报
 5   阿雷格里港  CCTV5  战报
 6     圣保罗  CCTV5  战报
 7    萨尔瓦多  CCTV5  战报  ,
    Unnamed: 0 Unnamed: 1                时间  编号              对阵         补眠时刻  \
 0         NaN        58场  07月05日 星期六 00:00 NaN     法国  0-1  德国  22:00-00:00
 1         NaN        57场  07月05日 星期六 04:00 NaN   巴西  2-1  哥伦比亚  22:00-04:00
 2         NaN        60场  07月06日 星期日 00:00 NaN   阿根廷  1-0  比利时  22:00-00:00
 3         NaN        59场  07月06日 星期日 04:00 NaN  荷兰  4-3  哥斯达黎加  22:00-04:00

       城市   电视直播  其他
 0  里约热内卢  CCTV5  战报
 1   福塔莱萨  CCTV5  战报
 2   巴西利亚  CCTV5  战报
 3   萨尔瓦多  CCTV5  战报  ,
    Unnamed: 0 Unnamed: 1                时间  编号            对阵         补眠时刻  \
 0         NaN        61场  07月09日 星期三 04:00 NaN   巴西  1-7  德国  22:00-04:00
 1         NaN        62场  07月10日 星期四 04:00 NaN  荷兰  2-4  阿根廷  22:00-04:00

        城市   电视直播  其他
 0  贝罗奥里藏特  CCTV5  战报
 1     圣保罗  CCTV5  战报  ,
    Unnamed: 0 Unnamed: 1                时间  编号            对阵         补眠时刻  \
 0         NaN        63场  07月13日 星期日 04:00 NaN   巴西  0-3  荷兰  22:00-04:00
 1         NaN        64场  07月14日 星期一 03:00 NaN  德国  1-0  阿根廷  22:00-03:00

       城市   电视直播  其他
 0   巴西利亚  CCTV5  战报
 1  里约热内卢  CCTV5  战报  ]

In [29]:
df[0]

,Unnamed: 0,Unnamed: 1,时间,编号,对阵,补眠时刻,城市,电视直播,其他
0,NaN,1场,06月13日 星期五 04:00,A1-A4,巴西 3-1 克罗地亚,22:00-04:00,圣保罗,CCTV5,战报
1,NaN,2场,06月14日 星期六 00:00,A3-A2,墨西哥 1-0 喀麦隆,22:00-00:00,纳塔尔,CCTV5,战报
2,NaN,3场,06月14日 星期六 03:00,B1-B4,西班牙 1-5 荷兰,22:00-03:00,萨尔瓦多,CCTV5,战报
3,NaN,4场,06月14日 星期六 06:00,B2-B3,智利 3-1 澳大利亚,22:00-06:00,库亚巴,CCTV5,战报
4,NaN,5场,06月15日 星期日 00:00,C1-C4,哥伦比亚 3-0 希腊,22:00-00:00,贝罗奥里藏特,CCTV5,战报
5,NaN,7场,06月15日 星期日 03:00,D1-D3,乌拉圭 1-3 哥斯达黎加,22:00-03:00,福塔莱萨,CCTV5,战报
6,NaN,8场,06月15日 星期日 06:00,D2-D4,英格兰 1-2 意大利,22:00-06:00,玛瑙斯,CCTV5,战报
7,NaN,6场,06月15日 星期日 09:00,C2-C3,科特迪瓦 2-1 日本,22:00-09:00,累西腓,CCTV5,战报
8,NaN,9场,06月16日 星期一 00:00,E1-E2,瑞士 2-1 厄瓜多尔,22:00-00:00,巴西利亚,CCTV5,战报
9,NaN,10场,06月16日 星期一 03:00,E4-E3,法国 3-0 洪都拉斯,22:00-03:00,阿雷格里港,CCTV5,战报
10,NaN,11场,06月16日 星期一 06:00,F1-F4,阿根廷 2-1 波黑,22:00-06:00,里约热内卢,CCTV5,战报
11,NaN,13场,06月17日 星期二 00:00,G1-G4,德国 4-0 葡萄牙,22:00-00:00,萨尔瓦多,CCTV5,战报
12,NaN,12场,06月17日 星期二 03:00,F3-F2,伊朗 0-0 尼日利亚,22:00-03:00,库亚巴,CCTV5,战报
13,NaN,14场,06月17日 星期二 06:00,G2-G3,加纳 1-2 美国,22:00-06:00,纳塔尔,CCTV5,战报
14,NaN,15场,06月18日 星期三 00:00,H1-H2,比利时 2-1 阿尔及利亚,22:00-00:00,贝罗奥里藏特,CCTV5,战报
15,NaN,17场,06月18日 星期三 03:00,A1-A3,巴西 0-0 墨西哥,22:00-03:00,福塔莱萨,CCTV5,战报
16,NaN,16场,06月18日 星期三 06:00,H4-H3,俄罗斯 1-1 韩国,22:00-06:00,库亚巴,CCTV5,战报
17,NaN,20场,06月19日 星期四 00:00,B3-B4,澳大利亚 2-3 荷兰,22:00-00:00,阿雷格里港,CCTV5,战报
18,NaN,19场,06月19日 星期四 03:00,B1-B2,西班牙 0-2 智利,22:00-03:00,里约热内卢,CCTV5,战报
19,NaN,18场,06月19日 星期四 06:00,A2-A1,喀麦隆 0-4 克罗地亚,22:00-06:00,玛瑙斯,CCTV5,战报
20,NaN,21场,06月20日 星期五 00:00,C1-C2,哥伦比亚 2-1 科特迪瓦,22:00-00:00,巴西利亚,CCTV5,战报
21,NaN,23场,06月20日 星期五 03:00,D1-D2,乌拉圭 2-1 英格兰,22:00-03:00,圣保罗,CCTV5,战报
22,NaN,22场,06月20日 星期五 06:00,C3-C4,日本 0-0 希腊,22:00-06:00,纳塔尔,CCTV5,战报
23,NaN,24场,06月21日 星期六 00:00,D4-D3,意大利 0-1 哥斯达黎加,22:00-00:00,累西腓,CCTV5,战报
24,NaN,25场,06月21日 星期六 03:00,E1-E4,瑞士 2-5 法国,22:00-03:00,萨尔瓦多,CCTV5,战报
25,NaN,26场,06月21日 星期六 06:00,E3-E2,洪都拉斯 1-2 厄瓜多尔,22:00-06:00,库亚巴,CCTV5,战报
26,NaN,27场,06月22日 星期日 00:00,F1-F3,阿根廷 1-0 伊朗,22:00-00:00,贝罗奥里藏特,CCTV5,战报
27,NaN,29场,06月22日 星期日 03:00,G1-G2,德国 2-2 加纳,22:00-03:00,福塔莱萨,CCTV5,战报
28,NaN,28场,06月22日 星期日 06:00,F2-F4,尼日利亚 1-0 波黑,22:00-06:00,库亚巴,CCTV5,战报
29,NaN,31场,06月23日 星期一 00:00,H1-H4,比利时 1-0 俄罗斯,22:00-00:00,里约热内卢,CCTV5,战报
30,NaN,32场,06月23日 星期一 03:00,H3-H2,韩国 2-4 阿尔及利亚,22:00-03:00,阿雷格里港,CCTV5,战报
31,NaN,30场,06月23日 星期一 06:00,G3-G4,美国 2-2 葡萄牙,22:00-06:00,玛瑙斯,CCTV5,战报
32,NaN,35场,06月24日 星期二 00:00,B3-B1,澳大利亚 0-3 西班牙,22:00-00:00,库亚巴,CCTV5+,战报
33,NaN,36场,06月24日 星期二 00:00,B4-B2,荷兰 2-0 智利,22:00-00:00,圣保罗,CCTV5,战报
34,NaN,33场,06月24日 星期二 04:00,A2-A1,喀麦隆 1-4 巴西,22:00-04:00,巴西利亚,CCTV5,战报
35,NaN,34场,06月24日 星期二 04:00,A4-A3,克罗地亚 1-3 墨西哥,22:00-04:00,累西腓,CCTV5+,战报
36,NaN,39场,06月25日 星期三 00:00,D4-D1,意大利 0-1 乌拉圭,22:00-00:00,纳塔尔,CCTV5,战报
37,NaN,40场,06月25日 星期三 00:00,D3-D2,哥斯达黎加 0-0 英格兰,22:00-00:00,贝罗奥里藏特,CCTV5+,战报
38,NaN,37场,06月25日 星期三 04:00,C3-C1,日本 1-4 哥伦比亚,22:00-04:00,库亚巴,CCTV5,战报
39,NaN,38场,06月25日 星期三 04:00,C4-C2,希腊 2-1 科特迪瓦,22:00-04:00,福塔莱萨,CCTV5+,战报
40,NaN,43场,06月26日 星期四 00:00,F2-F1,尼日利亚 2-3 阿根廷,22:00-00:00,阿雷格里港,CCTV5,战报
41,NaN,44场,06月26日 星期四 00:00,F4-F3,波黑 3-1 伊朗,22:00-00:00,萨尔瓦多,CCTV5+,战报
42,NaN,41场,06月26日 星期四 04:00,E3-E1,洪都拉斯 0-3 瑞士,22:00-04:00,玛瑙斯,CCTV5+,战报
43,NaN,42场,06月26日 星期四 04:00,E2-E4,厄瓜多尔 0-0 法国,22:00-04:00,里约热内卢,CCTV5,战报
44,NaN,45场,06月27日 星期五 00:00,G3-G1,美国 0-1 德国,22:00-00:00,累西腓,CCTV5,战报
45,NaN,46场,06月27日 星期五 00:00,G4-G2,葡萄牙 2-1 加纳,22:00-00:00,巴西利亚,CCTV5+,战报
46,NaN,47场,06月27日 星期五 04:00,H3-H1,韩国 0-1 比利时,22:00-04:00,圣保罗,CCTV5,战报
47,NaN,48场,06月27日 星期五 04:00,H2-H4,阿尔及利亚 1-1 俄罗斯,22:00-04:00,库亚巴,CCTV5+,战报

In [30]:
df22=df[0]
df22.drop(labels="Unnamed: 0",axis=1,inplace=True)

In [31]:
df22.head()

,Unnamed: 1,时间,编号,对阵,补眠时刻,城市,电视直播,其他
0,1场,06月13日 星期五 04:00,A1-A4,巴西 3-1 克罗地亚,22:00-04:00,圣保罗,CCTV5,战报
1,2场,06月14日 星期六 00:00,A3-A2,墨西哥 1-0 喀麦隆,22:00-00:00,纳塔尔,CCTV5,战报
2,3场,06月14日 星期六 03:00,B1-B4,西班牙 1-5 荷兰,22:00-03:00,萨尔瓦多,CCTV5,战报
3,4场,06月14日 星期六 06:00,B2-B3,智利 3-1 澳大利亚,22:00-06:00,库亚巴,CCTV5,战报
4,5场,06月15日 星期日 00:00,C1-C4,哥伦比亚 3-0 希腊,22:00-00:00,贝罗奥里藏特,CCTV5,战报
5,7场,06月15日 星期日 03:00,D1-D3,乌拉圭 1-3 哥斯达黎加,22:00-03:00,福塔莱萨,CCTV5,战报
6,8场,06月15日 星期日 06:00,D2-D4,英格兰 1-2 意大利,22:00-06:00,玛瑙斯,CCTV5,战报
7,6场,06月15日 星期日 09:00,C2-C3,科特迪瓦 2-1 日本,22:00-09:00,累西腓,CCTV5,战报
8,9场,06月16日 星期一 00:00,E1-E2,瑞士 2-1 厄瓜多尔,22:00-00:00,巴西利亚,CCTV5,战报
9,10场,06月16日 星期一 03:00,E4-E3,法国 3-0 洪都拉斯,22:00-03:00,阿雷格里港,CCTV5,战报
10,11场,06月16日 星期一 06:00,F1-F4,阿根廷 2-1 波黑,22:00-06:00,里约热内卢,CCTV5,战报
11,13场,06月17日 星期二 00:00,G1-G4,德国 4-0 葡萄牙,22:00-00:00,萨尔瓦多,CCTV5,战报
12,12场,06月17日 星期二 03:00,F3-F2,伊朗 0-0 尼日利亚,22:00-03:00,库亚巴,CCTV5,战报
13,14场,06月17日 星期二 06:00,G2-G3,加纳 1-2 美国,22:00-06:00,纳塔尔,CCTV5,战报
14,15场,06月18日 星期三 00:00,H1-H2,比利时 2-1 阿尔及利亚,22:00-00:00,贝罗奥里藏特,CCTV5,战报
15,17场,06月18日 星期三 03:00,A1-A3,巴西 0-0 墨西哥,22:00-03:00,福塔莱萨,CCTV5,战报
16,16场,06月18日 星期三 06:00,H4-H3,俄罗斯 1-1 韩国,22:00-06:00,库亚巴,CCTV5,战报
17,20场,06月19日 星期四 00:00,B3-B4,澳大利亚 2-3 荷兰,22:00-00:00,阿雷格里港,CCTV5,战报
18,19场,06月19日 星期四 03:00,B1-B2,西班牙 0-2 智利,22:00-03:00,里约热内卢,CCTV5,战报
19,18场,06月19日 星期四 06:00,A2-A1,喀麦隆 0-4 克罗地亚,22:00-06:00,玛瑙斯,CCTV5,战报
20,21场,06月20日 星期五 00:00,C1-C2,哥伦比亚 2-1 科特迪瓦,22:00-00:00,巴西利亚,CCTV5,战报
21,23场,06月20日 星期五 03:00,D1-D2,乌拉圭 2-1 英格兰,22:00-03:00,圣保罗,CCTV5,战报
22,22场,06月20日 星期五 06:00,C3-C4,日本 0-0 希腊,22:00-06:00,纳塔尔,CCTV5,战报
23,24场,06月21日 星期六 00:00,D4-D3,意大利 0-1 哥斯达黎加,22:00-00:00,累西腓,CCTV5,战报
24,25场,06月21日 星期六 03:00,E1-E4,瑞士 2-5 法国,22:00-03:00,萨尔瓦多,CCTV5,战报
25,26场,06月21日 星期六 06:00,E3-E2,洪都拉斯 1-2 厄瓜多尔,22:00-06:00,库亚巴,CCTV5,战报
26,27场,06月22日 星期日 00:00,F1-F3,阿根廷 1-0 伊朗,22:00-00:00,贝罗奥里藏特,CCTV5,战报
27,29场,06月22日 星期日 03:00,G1-G2,德国 2-2 加纳,22:00-03:00,福塔莱萨,CCTV5,战报
28,28场,06月22日 星期日 06:00,F2-F4,尼日利亚 1-0 波黑,22:00-06:00,库亚巴,CCTV5,战报
29,31场,06月23日 星期一 00:00,H1-H4,比利时 1-0 俄罗斯,22:00-00:00,里约热内卢,CCTV5,战报
30,32场,06月23日 星期一 03:00,H3-H2,韩国 2-4 阿尔及利亚,22:00-03:00,阿雷格里港,CCTV5,战报
31,30场,06月23日 星期一 06:00,G3-G4,美国 2-2 葡萄牙,22:00-06:00,玛瑙斯,CCTV5,战报
32,35场,06月24日 星期二 00:00,B3-B1,澳大利亚 0-3 西班牙,22:00-00:00,库亚巴,CCTV5+,战报
33,36场,06月24日 星期二 00:00,B4-B2,荷兰 2-0 智利,22:00-00:00,圣保罗,CCTV5,战报
34,33场,06月24日 星期二 04:00,A2-A1,喀麦隆 1-4 巴西,22:00-04:00,巴西利亚,CCTV5,战报
35,34场,06月24日 星期二 04:00,A4-A3,克罗地亚 1-3 墨西哥,22:00-04:00,累西腓,CCTV5+,战报
36,39场,06月25日 星期三 00:00,D4-D1,意大利 0-1 乌拉圭,22:00-00:00,纳塔尔,CCTV5,战报
37,40场,06月25日 星期三 00:00,D3-D2,哥斯达黎加 0-0 英格兰,22:00-00:00,贝罗奥里藏特,CCTV5+,战报
38,37场,06月25日 星期三 04:00,C3-C1,日本 1-4 哥伦比亚,22:00-04:00,库亚巴,CCTV5,战报
39,38场,06月25日 星期三 04:00,C4-C2,希腊 2-1 科特迪瓦,22:00-04:00,福塔莱萨,CCTV5+,战报
40,43场,06月26日 星期四 00:00,F2-F1,尼日利亚 2-3 阿根廷,22:00-00:00,阿雷格里港,CCTV5,战报
41,44场,06月26日 星期四 00:00,F4-F3,波黑 3-1 伊朗,22:00-00:00,萨尔瓦多,CCTV5+,战报
42,41场,06月26日 星期四 04:00,E3-E1,洪都拉斯 0-3 瑞士,22:00-04:00,玛瑙斯,CCTV5+,战报
43,42场,06月26日 星期四 04:00,E2-E4,厄瓜多尔 0-0 法国,22:00-04:00,里约热内卢,CCTV5,战报
44,45场,06月27日 星期五 00:00,G3-G1,美国 0-1 德国,22:00-00:00,累西腓,CCTV5,战报
45,46场,06月27日 星期五 00:00,G4-G2,葡萄牙 2-1 加纳,22:00-00:00,巴西利亚,CCTV5+,战报
46,47场,06月27日 星期五 04:00,H3-H1,韩国 0-1 比利时,22:00-04:00,圣保罗,CCTV5,战报
47,48场,06月27日 星期五 04:00,H2-H4,阿尔及利亚 1-1 俄罗斯,22:00-04:00,库亚巴,CCTV5+,战报

In [45]:
df22.rename(columns={"Unnamed: 1":"场次"},inplace=True)

In [47]:
df22.head()

   场次                时间     编号             对阵         补眠时刻      城市   电视直播  其他
0  1场  06月13日 星期五 04:00  A1-A4  巴西  3-1  克罗地亚  22:00-04:00     圣保罗  CCTV5  战报
1  2场  06月14日 星期六 00:00  A3-A2  墨西哥  1-0  喀麦隆  22:00-00:00     纳塔尔  CCTV5  战报
2  3场  06月14日 星期六 03:00  B1-B4   西班牙  1-5  荷兰  22:00-03:00    萨尔瓦多  CCTV5  战报
3  4场  06月14日 星期六 06:00  B2-B3  智利  3-1  澳大利亚  22:00-06:00     库亚巴  CCTV5  战报
4  5场  06月15日 星期日 00:00  C1-C4  哥伦比亚  3-0  希腊  22:00-00:00  贝罗奥里藏特  CCTV5  战报

## 网络爬虫

In [73]:
#!/usr/bin/env python 
# -*- coding:utf-8 -*- 
'''
 * @Author: shifaqiang(石发强)--[14061115@buaa.edu.cn] 
 * @Date: 2018-10-29 11:09:14 
 * @Last Modified by:   shifaqiang 
 * @Last Modified time: 2018-10-29 11:09:14 
 * @Desc: a simple spider for http://www.kugou.com/yy/rank/home/1-8888.html?from=rank
'''

import requests
import bs4

data=[]
url="http://www.kugou.com/yy/rank/home/1-22163.html?from=rank"
web_data=requests.get(url)
soup=bs4.BeautifulSoup(web_data.text,"lxml")
ranks=soup.select("span.pc_temp_num")
titles=soup.select("div.pc_temp_songlist > ul > li > a")
times=soup.select("span.pc_temp_tips_r > span")

for rank,title,time in zip(ranks,titles,times):
    a={
        "rank":rank.get_text().strip(),
        "singer":title.get_text().split("-")[0],
        "song":title.get_text().split("-")[1],
        "time":time.get_text().strip(),
    }
    data.append(a)

In [74]:
data

[{'rank': '1', 'singer': '戴佩妮 ', 'song': ' 你要的爱 (深夜版)【港台】', 'time': '4:21'},
 {'rank': '2', 'singer': '朴树 ', 'song': ' 空帆船【内地】', 'time': '5:16'},
 {'rank': '3', 'singer': '方大同 ', 'song': ' Saving Snowy【港台】', 'time': '3:03'},
 {'rank': '4', 'singer': '华晨宇 ', 'song': ' 寒鸦少年【内地】', 'time': '5:15'},
 {'rank': '5', 'singer': '张信哲 ', 'song': ' 有情世间【港台】', 'time': '5:23'},
 {'rank': '6', 'singer': '李荣浩 ', 'song': ' 贫穷或富有【内地】', 'time': '4:56'},
 {'rank': '7', 'singer': '许靖韵 ', 'song': '  K歌之王【港台】', 'time': '4:08'},
 {'rank': '8', 'singer': '许巍 ', 'song': ' 我的爱【内地】', 'time': '3:32'},
 {'rank': '9', 'singer': '许茹芸 ', 'song': ' 爱就爱吧【港台】', 'time': '4:28'},
 {'rank': '10', 'singer': '郁可唯 ', 'song': ' 地平线【内地】', 'time': '4:33'},
 {'rank': '11', 'singer': '陈芳语 ', 'song': ' 心跳拍拍【港台】', 'time': '3:06'},
 {'rank': '12', 'singer': '后弦 ', 'song': ' 瓜很甜【内地】', 'time': '3:24'},
 {'rank': '13', 'singer': '张惠妹、林忆莲 ', 'song': ' 双影【港台】', 'time': '4:36'},
 {'rank': '14', 'singer': '丁薇 ', 'song': ' 风度【内地】', 'time': '3:47'},
 {'rank': '15', 'singer': '鼓鼓 ', 'song': ' 缤纷了每一天【港台】', 'time': '4:30'},
 {'rank': '16', 'singer': '戴荃 ', 'song': ' 东走迷【内地】', 'time': '3:25'},
 {'rank': '17', 'singer': '曾咏欣 ', 'song': ' 愿你幸福到底【港台】', 'time': '4:18'},
 {'rank': '18', 'singer': 'SNH48_BLUEV ', 'song': ' MAMI【内地】', 'time': '3:30'},
 {'rank': '19', 'singer': '阿杜 ', 'song': ' 坏朋友【港台】', 'time': '4:09'},
 {'rank': '20', 'singer': '沙宝亮 ', 'song': ' 我回到那个名叫爱情的地方【内地】', 'time': '4:17'}]

In [75]:
df23=pd.DataFrame(data)

In [76]:
df23

   rank        singer               song  time
0     1          戴佩妮      你要的爱 (深夜版)【港台】  4:21
1     2           朴树             空帆船【内地】  5:16
2     3          方大同    Saving Snowy【港台】  3:03
3     4          华晨宇            寒鸦少年【内地】  5:15
4     5          张信哲            有情世间【港台】  5:23
5     6          李荣浩           贫穷或富有【内地】  4:56
6     7          许靖韵            K歌之王【港台】  4:08
7     8           许巍             我的爱【内地】  3:32
8     9          许茹芸            爱就爱吧【港台】  4:28
9    10          郁可唯             地平线【内地】  4:33
10   11          陈芳语            心跳拍拍【港台】  3:06
11   12           后弦             瓜很甜【内地】  3:24
12   13      张惠妹、林忆莲              双影【港台】  4:36
13   14           丁薇              风度【内地】  3:47
14   15           鼓鼓          缤纷了每一天【港台】  4:30
15   16           戴荃             东走迷【内地】  3:25
16   17          曾咏欣          愿你幸福到底【港台】  4:18
17   18  SNH48_BLUEV            MAMI【内地】  3:30
18   19           阿杜             坏朋友【港台】  4:09
19   20          沙宝亮    我回到那个名叫爱情的地方【内地】  4:17